body{

    padding: 0;
    margin: 0;
}
*{
    box-sizing: border-box;
}
main{
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-areas: 
    "h h"
    "n n"
    "a as"
    "f f"
    ;

}
article{
    grid-area: a;
    display: grid;
    grid-template-columns: auto auto auto auto;
    /* grid-template-columns: 1fr 1fr 1fr 1fr; */
    


}

header,nav,article,aside,footer{
    border: 1px solid gray;
}

header{
    grid-area: h;
}
nav{
    grid-area: n;
}

aside{
    grid-area: as;
}
footer{
    grid-area: f;
}
